.UseCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UseCredits h1{
  margin: 30px auto;
  border-bottom: 2px solid #026FD2;
  padding-bottom: 8px;
}

.UseCredits p {
  margin-bottom: 30px;
  font-style: italic;
}

.UseCredits-active {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.UseCredits-subscription {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.UseCredits-subscription h2 {
  margin-bottom: 0px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #026FD2;
  font-size: 22px;
  color: white;
}

.ItemCredit {
  padding: 0 20px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.ItemCredit h3{
  width: 100px;
  margin: 0;
}

.ItemCredit h4{
  width: 100px;
  margin: 0;
}

.ItemCredit-redeem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #026FD2;
  text-align: center;
  font-size: 36px;
}
.ItemCredit-redeem:hover{
  cursor: pointer;
}

.ItemCredit-redeem span {
  font-size: 14px;
  margin-top: 5px;
}

@media(max-width: 620px) {
  .UseCredits h1{
    font-size: 24px;
    margin: 20px auto;
  }

  .ItemCredit-redeem span {
    font-size: 11px;
  }

  .UseCredits p {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 12px;
    font-style: italic;
  }
  
  .UseCredits-active {
    width: 400px;
  }

  .UseCredits-subscription h2 {
    padding: 7px 20px;
    font-size: 18px;
    color: white;
  }

  .ItemCredit {
    height: 72px;
  }

  .ItemCredit h3{
    width: 100px;
    margin: 0;
    font-size: 16px;
  }
  
  .ItemCredit h4{
    width: 100px;
    margin: 0;
    font-size: 14px;
  }

  .ItemCredit-redeem {
    font-size: 30px;
  }
}

.UseCredits-cancelled {
  font-size: 12px;
  color: red;
  margin-top: 3px;
  padding: 0 5px;
}

@media(max-width: 450px) {
  .UseCredits-subscription {
    margin-bottom: 40px;
  }

  .UseCredits-active {
    width: 345px;
  }

  .ItemCredit-redeem {
    font-size: 30px;
  }
}