.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.Account-backbutton {
  visibility: hidden;
  width: 95%;
  /* margin-left: 20px; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: #026FD2;
}

.Account-backbutton div:hover {
  cursor: pointer;
}

.Account h1 {
  margin-top: 0px;
  padding-bottom: 8px;
  border-bottom: 2px solid #026FD2;
}

.Account-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.Account-cardtext {
  margin: 3px auto;
}

.Account-cardtext-sub {
  margin-top: 8px;
}

.Account-payment-button {
  width: 150px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.SubCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.SubCard img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 3px;
}

.SubCard-name {
  margin-top: 7px;
  margin-bottom: 5px;
}

.SubCard p {
  margin: 4px auto!important;
}

.SubCard-cancel {
  margin-top: 5px;
  color: red;
}

.SubCard-cancel:hover {
  cursor: pointer;
}

.Account-logout {
  margin-top: 20px;
  margin-bottom: 100px;
}

.Account-logout span{
  font-size: 16px;
  font-weight: 700;
  color: #026FD2;
}

.Account-logout span:hover {
  cursor: pointer;
}

@media(max-width: 500px) {
  .Account h1 {
    margin-top: 10px;
    font-size: 24px;
  }

  .Account-backbutton {
    visibility: visible;
  }
}