.toggle-button {
  background: transparent;
  border: none;
  font-size: 22px;
  padding-bottom: 0;
  color: #026FD2;
}

.toggle-button:focus {
  outline: none;
}

.SideDrawer {
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 350px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

.SideDrawer.open {
  transform: translateX(0);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.SideDrawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
}

.SideDrawer ul li {
  margin: .6rem 0;
  width: 180px;
  font-size: 1.2rem;
}

.SideDrawer-logo {
  margin: 20px auto!important;
}

.SideDrawer-logo a {
  font-family: 'Lobster', cursive;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 25px;
}

.SideDrawer span {
  color: #026FD2;
  font-weight: 500;
}

.SideDrawer span:hover {
  cursor: pointer;
}

@media(min-width: 701px) {
  .SideDrawer {
    display: none;
  }
} 