.CompanyDashboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 50px;
}

.CompanyDashboard-header {
  margin-bottom: 50px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompanyDashboard-header-left {
  display: flex;
  align-items: center;
}

.CompanyDashboard-header-left a{
  margin-left: 15px;
  padding-bottom: 7px;
  color: #026FD2;
}

.CompanyDashboard-header-left span{
  margin-left: 15px;
  padding-bottom: 7px;
  color: #026FD2;
}

.CompanyDashboard-header-left span:hover{
  cursor: pointer;
}

.CompanyDashboard-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CompanyDashboard-header-right button{
  width: 170px;
  color: white;
  font-weight: 700;
  margin: 0 5px;
}

.bankaccount-added {
  color: #026FD2;
  margin-right: 30px;
}

.CompanyDashboard-main {
  display: flex;
}

.CompanyDashboard-section {
  margin-bottom: 60px;
}

.CompanyDashboard-panel {
  width: 100%;
  padding: 0 60px;
}

.CompanyDashboard-panel h2 {
  background-color: #026FD2;
  padding: 10px 20px;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.CompanyDashboard-add {
  margin-bottom: 10px;
  padding: 0 20px;
  color: #026FD2;
  font-size: 16px;
  font-weight: 700;
}

.CompanyDashboard-trashcan {
  color: red;
}

.CompanyDashboard-trashcan:hover {
  cursor: pointer;
}

.CompanyDashboard-add:hover {
  cursor: pointer;
}

.CompanyDashboard-item {
  padding: 10px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.CompanyDashboard-subscription {
  padding: 20px 0;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.Dash-sub-title {
  font-size: 18px;
  font-weight: 800
}

.CompanyDashboard-subscription-items {
  display: flex;
  flex-direction: column;
}

.CompanyDashboard-subscription-item {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  padding: 5px 0;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
}

.CompanyDashboard-cancelsubscription-text {
  color: red;
  margin-top: 7px;
}

.CompanyDashboard-cancelsubscription-text:hover {
  cursor: pointer;
}

.CompanyDashboard-Location {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.CompanyDashboard-Location span {
  margin-bottom: 2px;
  font-weight: 600;
}
