.UCModal {
  background-color: transparent!important;
  padding: 0!important;
  margin: 0!important;
  height: auto!important;
  width: 400px!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.UCModal-close {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 5px;
}

.UCModal-content {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.UCModal-message {
  font-size: 13px;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 15px;
}

.UCModal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.UCModal-buttons span {
  margin: 7px auto;
}

.lsbtn {
  color: white;
  font-weight: 700;
  width: 150px;
  margin: auto 3px;
}

@media(max-width: 460px) {
  .UCModal {
    width: 340px!important;
  }
}